.About {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 250vh;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.About .wrap {
  background-color: rgba(0, 0, 0, 0.5);
  height: 250vh;
}

.About hr {
  background-color: #fff;
  opacity: 1;
}

.About h2 {
  font-family: Hiro Misake, sans-serif;
  font-size: 48px;
}

.About p {
  text-transform: uppercase;
  font-size: 20px;
  max-width: 30vw;
}

.About img {
  width: 35vw;
  max-height: 85vh;
}

.About .image-wrap-left {
  background-color: #fff;
  padding-left: 10vw;
}

.About .image-wrap-right {
  background-color: #fff;
  padding-right: 10vw;
}

.About .bookmark-text {
  font-size: 40px;
}
.About .bookmark-1 {
  max-width: 10vw;
  right: 8%;
}

.About .bookmark-2 {
  max-width: 10vw;
  left: 8%;
}

.About .bookmark-2-wrap {
  bottom: 35vh;
}

.About .w-35 {
  width: 35vw;
  height: 2.5px;
}

.About .w-70 {
  width: 70vw;
  height: 2.5px;
}

.About .h-20 {
  width: 2.5px;
  height: 20vw;
}
