.About {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.About .wrap {
  background-color: rgba(0, 0, 0, 0.55);
}

.About hr {
  background-color: #fff;
  opacity: 1;
}

.About h2 {
  font-family: Hiro Misake, sans-serif;
  font-size: 48px;
  margin: 0;
}

.About p {
  text-transform: uppercase;
  font-size: 20px;
  max-width: 80%;
}

.About img {
  width: 90%;
  border: 2px solid #fff;
}

.About .image-wrap-left {
  border: 2px solid #fff;
  border-left: none;
}

.About .image-wrap-right {
  border: 2px solid #fff;
  border-right: none;
}

.About .bookmark-text {
  font-size: 40px;
}
.About .bookmark {
  width: 10%;
  right: 10px;
}

.About .w-35 {
  width: 35%;
  height: 2px;
}

.About .w-70 {
  width: 70%;
  height: 2px;
}

.About .h-15 {
  width: 2.5px;
  height: 300px;
}

@media (max-width: 768px) {
  .About .image-wrap-left {
    border-left: 2px solid #fff;
  }
  .About .image-wrap-right {
    border-right: 2px solid #fff;
  }
  .About p {
    text-align: justify !important;
    font-size: 16px;
  }
  .About .w-35 {
    width: 70%;
    height: 2px;
  }
}
