.MenuPage {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.MenuPage .wrap {
  background-color: rgba(0, 0, 0, 0.55);
}

.MenuPage .main-body {
  padding-top: 10vh;
}

.MenuPage h2 {
  font-family: Hiro Misake, sans-serif;
  font-size: 48px;
}

.MenuPage hr {
  background-color: #fff;
  opacity: 1;
  margin: 0;
}
.MenuPage .w-35 {
  width: 35%;
  height: 2px;
}

.MenuPage .h-15 {
  width: 2.5px;
  height: 15vh;
}

.MenuPage .bookmark {
  max-width: 10%;
}

.MenuPage .bookmark-top-w {
  width: 100px;
  height: 2px;
}

.MenuPage .bookmark-text {
  font-size: 24px;
}
.MenuSection hr {
  height: 2px;
}

.MenuSection .bookmark {
  right: 10%;
}

.MenuSection .menu-bg {
  background-color: rgba(0, 0, 0, 0.55);
  max-width: 60%;
}

.MenuSection .menu-border {
  border: 2px solid #fff;
}

.MenuSection .title {
  font-family: Hiro Misake, sans-serif;
  font-size: 48px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.MenuSection .menu-item {
  font-size: 18px;
}

.MenuSection .bookmark-text {
  font-size: 24px;
}

.MenuSection .h-30 {
  width: 2.5px;
  height: 30vh;
}

@media (max-width: 768px) {
  .MenuPage h2 {
    font-size: 48px;
  }

  .MenuPage .w-35 {
    width: 70%;
    height: 2px;
  }

  .MenuSection .menu-bg {
    background-color: rgba(0, 0, 0, 0.55);
    max-width: 90%;
  }

  .MenuSection .menu-item {
    font-size: 16px;
  }
  .MenuSection .title {
    font-size: 36px;
  }
}
